                                                                                         
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="/css/reset.css">-->
    
    <link rel="stylesheet" href="/css/profilestyle.css">
    <link rel="stylesheet" href="/css/recipe.css">
    <link rel="stylesheet" href="/css/recipeListView.css">
    <link rel="stylesheet" type="text/css" href="/css/glider.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    
 
    <title>Adam's Recipe App</title>
</head>

<body>

    <p id="top"></p>
   
    <div class="container">
          <div class="navbar-header nav-1">

          <nav class="nav-1" role="navigation">
            <a class="nav-link" href="/">Home</a>

              <%for (let i = 0; i < nav.length; i++) { %> 
             
                
                <a  class="nav-link" href="<%=nav[i].link%>"> <%=nav[i].title%> </a>
              
            <%}%>
            
                 <a  class="nav-link nav-bar-right" href="/auth/signout"> Signout </a>
    
          </nav>
        </div>
      


      <div class="main-container">
        <div class="column">
            
            <div class="panel">
              <div class="panel-body">
                
              
                
                <!--/stories-->
                
                <%for (let i = 0; i < recipes.length; i++) { 
                  let element = recipes[i]; %> 
                  <div class="row">    
                  
                       <a class="story-title" href="#"><img alt=""  
                       src=" <%=element.pictures[0].link%>" class="recipe-list-pic"></a>
                      
                      <div class="column">
                      <h3><%=element.title %> </h3>
                      <p class="recipe-summary"><%=element.summary%></p>
                      
                        <h4><span class="label label-default"> Time: <%=element.time %></span></h4>

                        <h4> <small class="text-muted"> 
                          <a href="/recipes/<%=element._id%>" class="read-more">Read More</a></small>
                        </h4>
                      </div>
                    </div>
                    <hr class="row-hr">
                  </div>
                  
        
                <%} %> 
                    
     <footer>
        <a class="nav-link" href="#top">back to top</a>
    </footer>

    
    <script src="/js/glider.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   
    
</body>

</html>